html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

code {
  white-space: pre-wrap;
}

.toast {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.25rem 0.8rem;
  border-radius: 0.25rem;
  background-color: rgba(255,255,255,.1);
  backdrop-filter: blur(12px);
  font-size: 0.9rem;
  transition: opacity 0.2s;
  opacity: 0;
}

.toast.active {
  opacity: 1;
}